

.main_flex {
  background-color: rgb(209, 209, 209);
  display: flex;
  width: 100%;
  height: 100%;
}
.board_container {
  display: flex;
  justify-content: center;
}
.board {
  align-self: center;
  aspect-ratio: 1;
}
.input_container {
  display: flex;
  align-items: center;
}
.num_pad {
  position: relative;
  display: inline-grid;
}
.num_pad_key {
  background-color: rgb(146, 146, 146);
  transition: background-color 0.2s linear;
  border-radius: 100%;
  margin: 5px;
  display: flex;
  align-items: center;
  justify-content: center;
  cursor: pointer;
  -webkit-tap-highlight-color: transparent;
}
.num_pad_key_selected {
  background-color: rgb(61, 117, 170);
}
.num_pad_key span {
  color: black;
  pointer-events: none;
  user-select: none;
}

@media only screen and (orientation: landscape) {
  .main_flex {
    flex-direction: row;
    justify-content: center;
  }
  .board_container {
    height: 100%;
    width: min-content;
    max-width: calc(100% - calc(30vh + 20px));
  }
  .board {
    height: 100%;
    max-height: calc(100vw - 300px);
    margin: 0px 100px 0px 100px;
  }
  .input_container {
    height: 100%;
    min-width: calc(30vh + 20px);
    justify-content: left;
  }
  .num_pad {
    grid-template-rows: min-content min-content min-content min-content min-content;
    grid-template-columns: 50% 50%;
  }
  .num_pad_key {
    width: 15vh;
    height: 15vh;
    max-width: 140px;
    max-height: 140px;
  }
  .num_pad_key span {
    font-size: 35pt;
  }
}
@media only screen and (orientation: portrait) {
  .main_flex {
    flex-direction: column;
  }
  .board_container {
    height: calc(100% - 200px);
    width: 100%;
  }
  .board {
    width: 100%;
    max-width: calc(100vh - 200px);
  }
  .input_container {
    height: 200px;
    width: 100%;
    justify-content: center;
  }
  .num_pad {
    grid-template-rows: 50% 50%;
    grid-template-columns: min-content min-content min-content min-content min-content;
  }
  .num_pad_key {
    width: 15vw;
    height: 15vw;
    max-width: 90px;
    max-height: 90px;
  }
  .num_pad_key span {
    font-size: 25pt;
  }
  .num_pad_key:hover {
    background-color: rgb(99, 99, 99);
  }
  .num_pad_key_selected:hover {
    background-color: rgb(39, 89, 136);
  }
}

.large_grid {
  position: relative;
  top: 5%;
  left: 5%;
  width: 90%;
  height: 90%;
  display: grid;
  grid-template-rows: repeat(9, 9fr);
  grid-template-columns: repeat(9, 9fr);
  row-gap: var(--small-gap-size);
  column-gap: var(--small-gap-size);
  background-color: black;
}

.cell {
  background-color: rgb(209, 209, 209);
  width: calc(9fr - calc(var(--large-gap-size) / 9));
  height: calc(9fr - calc(var(--large-gap-size) / 9));
  display: flex;
  align-items: center;
  justify-content: center;
  font-size: var(--cell-font-size);
  cursor: pointer;
  -webkit-tap-highlight-color: transparent;
}

.cell_highlight {
  width: 90%;
  height: 90%;
  border-radius: 100%;
  display: flex;
  align-items: center;
  justify-content: center;
  transition: background-color 0.35s ease;
}

.cell_perm {
  background-color: gray;
}

.cell span {
  pointer-events: none;
  user-select: none;
}

/* vertical box lines */
.cell:nth-child(3n):not(.cell:nth-child(9n)) {
  margin-right: var(--large-gap-size);
}

.cell:nth-child(3n+1):not(.cell:nth-child(9n+1)) {
  margin-left: var(--large-gap-size);
}

/* horizontal box lines */
.cell:nth-child(n+19):not(.cell:nth-child(n+28)), .cell:nth-child(n+46):not(.cell:nth-child(n+55)) {
  margin-bottom: var(--large-gap-size);
}

.cell:nth-child(n+28):not(.cell:nth-child(n+37)), .cell:nth-child(n+55):not(.cell:nth-child(n+64)) {
  margin-top: var(--large-gap-size);
}